<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h2>Welcome Admin</h2>
<ol>
    <li><a href="./showAllEmployees">Show All Employee</a></li>
    <li><a href="./inputEmpIdPageForSearch">Search Employee By ID</a></li>
    <li><a href="./inputEmployeeDetailsPage">Add Employee</a></li>
    <li><a href="./inputEmpIdPageForDelete">Delete Employee</a></li>
    <li><a href="./addBook">Add Book</a></li>
    <li><a href="./inputBookNamePageForDelete">Remove Book</a></li>
    <li><a href="">Logout*</a></li>
</ol>
</body>
</html>